body{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  background-color: #4d4d4d;
}

.App {
  text-align: center;
}

.App-logo, .App-nav {
  float: left;
}

.App-header {
  background-color: #4d4d4d;
  height: 50px;
  padding: 10px 10px;
  color: #f2f2f2;
  text-align: left
}

.App-header h2{
  margin: 0;
  font-weight: 600;
}

.App-header small{
  color: #a6a6a6;
  font-weight: 600
}

.App-header h2 span{
  color: #ff9900;
}

.App-intro {
    background-color: #4d4d4d;
    color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
